.form-contacts-title{
	background:#48cbe8;
	color:#fff;
	text-align: center;
	font-weight: 400;
	font-size: 27px;
	margin: 0 0 40px 0;
	padding: 40px 0;
	border-bottom: 15px solid #67dffa;
}
.contacts-form{
	margin: 0 auto;
	width: 403px;
}
.name-box, .email-box{
	display: inline-block;
	width: 190px;
	margin: 0;
}
.email-box{
	float:right;
}
.form-list{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;	
}
.form-item{
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}
.field, .img-code{
	padding: 10px 5px;
	font-size:13px;
	color:#54ceea; 
	box-sizing: border-box;
	border: 1px solid #54ceea;
	border-radius: 5px;
}
.name-field, .email-field{
	width: 190px;
}
.email-field{
	float: right;
}
.message-field{
	height: 180px;
	width: 100%;
}
.g-recaptcha{
	margin-bottom: 10px;
}
.img-code{
	float:right;
}
.send-btn, .clear-btn{
	display: block;
	float: left;
	margin: 0 auto;
	padding: 0 20px;
	/*width: 120px;*/
	color:#fff;
	font-size:19px;
	font-family: 'fira_sansbook';
	border: none;
	border-radius: 5px;
	background-color: #48cbe8;
	box-shadow: 0 4px 0 #3ba8c0;
}
.send-btn:active,.clear-btn:active{
	margin-top: 5px;
	box-shadow: none;
}
.clear-btn{
	background:#849db5;
	box-shadow: 0 4px #687b8f;
	float: right;
}
#alert-success-item, #alert-error-item{
	display: none;
}