
/* для IE 8*/

.social-btn-link:first-child + *{
background-position: -175px -5px;

}
.social-btn-link:first-child + *:hover{
	background-position: -176px -62px;
	
}
.social-btn-link:first-child + * + *{
background-position: -118px -5px;
}
.social-btn-link:first-child + * + *:hover{
	background-position: -5px -62px;
	
}
.social-btn-link:first-child + * + * + *{
background-position: -62px -62px;
}
.social-btn-link:first-child + * + * + *:hover{
	background-position: -119px -62px;
	
}

.contacts-item:first-child + *{
	background: #41b9d4;
}
	.contacts-item:first-child + *{
		background-image: url(../img/email.png);
		background-repeat: no-repeat;
		background-position: 10% 50%;
	}
.contacts-item:first-child + * + *{
	background: #48cbe8;
}
	.contacts-item:first-child + * + *{
		background-image: url(../img/telephone.png);
		background-repeat: no-repeat;
		background-position: 10% 50%;
	}

.contacts-item:first-child + * + * + *{
	background: #51daf8;
}
	.contacts-item:first-child + * + * + *{
		background-image: url(../img/skype.png);
		background-repeat: no-repeat;
		background-position: 10% 50%;
	}

.inf-value:first-child + * + * + * + *{
	width: 200px;
}
/*******/
