@import url("fonts.css");
@import url("../bower/normalize-css/normalize.css");
@import url("projects/projects.css");
@import url("authorization/authorization.css");
@import url("contacts/contacts.css");
@import url("ie.css");
.clearfix:after,.clearfix:before{
	content: ' ';
	display: table;
}
.clearfix:after{
	clear: both;
}

/* для IE6-7 */
.clearfix {
   zoom: 1;
}
.hidden{
	display: none !important;
}
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}
html, body{
	height: 100%;
	background: url("../img/bg.png") repeat;
	font-family: "fira_sansbook", sans-serif;;
	font-size: 17px;
	color: #4a545d;
}

/****** HEADER ******/

.wrapper{
	min-width: 960px;
	min-height: 100%;
	margin-bottom: -83px;
}
	.wrapper:after{
		height: 83px;
	}
.page-header{
	background: url(../img/border.png) no-repeat 50% 100% #eff3f7;
    height: 122px;
    line-height: 122px;
    margin-bottom: 40px;
	overflow: hidden;
}
.header-wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
	.logo{
		float: left;
	}
		.logo-img{
			vertical-align: middle;	
		}
	.social-btn{
		float: right;
		max-width: 300px;
	}
		.social-btn-link{
			margin-left: 20px;
			display: inline-block;
			vertical-align: middle;
			width: 47px;
			height: 47px;
		}
			.vk{
				margin-left:0px;
				background-position: -145px -119px;
			}
				.vk:hover{
					background-position: -5px -176px;
				}
			.twitter{
				background-position: -175px -5px;
				
			}
				.twitter:hover{
					background-position: -176px -62px;
					
				}
			.facebook{
				background-position: -118px -5px;
			}
				.facebook:hover{
					background-position: -5px -62px;
					
				}
			.git{
				background-position: -62px -62px;
			}
				.git:hover{
					background-position: -119px -62px;
					
				}

/****** CONTENT ******/
		
.page-container{
	width: 960px;
	margin: 0 auto;
	display: block;
}

/****** sidebar ******/

	.navigation{
		width: 250px;
		float: left;
	}
		.navigation-menu{
			margin-bottom: 5px;
			border-radius: 5px;					
			display: block;
			overflow: hidden;
		}
		.navigation-list{
			list-style: none;
			background: #eff3f7;
			padding: 0;
			margin-top: 0;
		}
			.navigation-item{
				margin: 0 10px;
				padding-left: 20px;
				border-top: 2px solid #3ba8c0;
				font-size: 21px;
			}				
				.navigation-item:first-child{
					border-top: none;
				}
				.navigation-link{
					display: block;
					text-decoration: none;
					padding: 19px 0;
					color: #959aa8;
				}
					.navigation-link:hover{
						color: #3ba8c0;
					}
					.active{
						background: #3ba8c0;
						font-size: 23px;
						margin: 0 0 -2px 0;
						padding-left: 30px;
					}
						.navigation-item.active .navigation-link, .navigation-item.active .navigation-link:hover{
							color: #fff;
						}
	.contacts{
		border-radius:5px;
	}
		.contacts-list{
			list-style: none;
			padding: 0;
			margin: 0;
		}
			.contacts-item{
				font-size: 17px;
			}
			.contacts-item:first-child{
				background: #3ba8c0;
				text-align: left;
				border-radius:5px 5px 0 0;
				font-size: 21px;
				color: #fff;
				padding: 5px 0 5px 15px; 
			}

			.contacts-item.email{
				background: url(../img/email.png) no-repeat 18% 50% #41b9d4;
			}
			.contacts-item.telephone{
				background: url(../img/telephone.png) no-repeat 18% 50% #48cbe8;
			}
			.contacts-item.skype{
				background: url(../img/skype.png) no-repeat 18% 50% #51daf8;	
				border-radius: 0 0 5px 5px;		
			}
				.contacts-link{
					text-decoration: none;
					color: #fff;
					padding: 5px 0 5px 80px;
					display:block;
				}
				.contacts-link:hover{
					text-decoration: underline;
				}


/****** main content ******/

	.page-content{
		float: right;
		width: 650px;
	}
		.inf-about-me{
			margin-bottom: 30px;
			background: #eff3f7;
			border-radius:5px;
		}
		.block-title{
			display: inline-block;
			font-size: 27px;
			font-weight: 400;
			margin: 0;
			padding: 10px 20px;
			color: #3ba8c0;
			border-bottom: 2px solid #3ba8c0;
		}
		.inf-wrapper{
			margin: 0;
			padding: 15px 0 15px 0;
			overflow: hidden;
		}
		.photo-wpapper{
			float: left;
			margin: 25px 0 0 50px;
			border-radius: 50%;
			width: 140px;
			height: 140px;
			overflow: hidden;
			border: 4px solid #3ba8c0;
		}
			.photo{
				width: 100%;
			}
		.inf-list-wrapper{
			margin: 0 0 15px 0;
			padding: 0;
			line-height: 2.1em;
			width: 420px;
			float: right;
		}
		.inf-list{
			list-style: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
			.inf-item{
			}
			.inf-title{
				float: left;
				margin-right: 20px;
				font-family: 'fira_sansmedium';
			}
			.inf-value{
				font-size: 15px;
				max-width: 220px;
				margin: 0;
				float: left;
			}
			.skills-list{
				list-style: none;
				margin: 0;
				padding: 0;
				width: 220px;
				display: inline-block;
			}	
				.skill{
					background: #3ba8c0; /* Old browsers */
		            background: -moz-linear-gradient(top,  #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 52%, #2e8ca2 100%); /* FF3.6+ */
		            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(50%,#3ba8c0), color-stop(52%,#2e8ca2), color-stop(100%,#2e8ca2)); /* Chrome,Safari4+ */
		            background: -webkit-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 52%,#2e8ca2 100%); /* Chrome10+,Safari5.1+ */
		            background: -o-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 52%,#2e8ca2 100%); /* Opera 11.10+ */
		            background: -ms-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 52%,#2e8ca2 100%); /* IE10+ */
		            background: linear-gradient(to bottom,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 52%,#2e8ca2 100%); /* W3C */
		            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */

		            color:#fff;
		            font-size: 13px;
		            padding: 0px 15px;
					display: inline-block;
					font-family: 'proxima_nova_condensedSBd';
		            border-radius: 3px;
		            margin: 0px 4px 0 0;
					line-height: 1.7em;
				}
		.jobs-list, .education-list{
			list-style: none;
			padding: 0 0 20px 0;
			margin: 25px 0 0 0;
			line-height: 1.2em;
			margin-left: 57px;
		}
			.job-item{
				background: url(../img/bag.png) no-repeat left center;
				padding: 0 20px 0 70px;
				margin-bottom: 20px;
			}
			.education-item:first-child{
				background: url(../img/hat.png) no-repeat left center;
			}
			.education-item{
				background: url(../img/doc.png) no-repeat 2% center;
				padding: 0 0 0 70px;
				margin-bottom: 25px;
			}
				.job-period, .edu-period{
					font-size: 15px;
				}

/****** FOOTER ******/
	
.page-footer{
    min-width: 960px;
	margin-top: -83px;
	height: 83px;
	background: url(../img/border.png) no-repeat 50% 0% #eff3f7;
	font-family: 'fira_sanslight';
	font-size: 13px;	
}
	.footer-box{
		margin: 0 auto;
		width: 960px;
		padding-top: 30px;
		line-height: 32px;
	}
	.login-btn{
		float: left;
		margin-left: 30px;
		width: 20px;
	    height: 32px;
	    background-position: -56px -119px;
	}
		.login-btn:hover{
			background: url(../img/unlock.png);
		}
	.footer-inf{
		text-align: center;
		margin: 0;
	}