.over-content{
	background: #eff3f7;
	border-radius:5px;
	min-height:100%;
	margin-bottom: 30px;
	overflow: hidden;
}
.over-block-title{
	margin: 0 0 30px 0;
	display: inline-block;
	font-size: 27px;
	font-weight: 400;
	padding: 10px 20px;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
}
.projects-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
	.project-item{
		display: inline-block;
		margin: 0 0 40px 20px;
		text-align: center;
		vertical-align: top;
		overflow: hidden;
	}
	.project-item-wrap{
		margin-top: 0;
	}
	.project-link{
		width: 183px;
		height: 129px;
		/*margin-top: 0;*/
		border-radius: 5px;
		border: 2px solid #3ba8c0;
		display: block;
		text-decoration: none;
		position: relative;
	}
		.project-link:hover .animate-block{
			display: block;
		}
		.project-link:hover .animate-block-name{
			display: inline-block;
		}
		.animate-block{
			display:none;
			overflow: hidden;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 3;
			top: 0;
			text-align: center;
			background-color: rgba(1, 108, 164, .7);
		}
		.animate-block-name{
			position: absolute;
			top: 40px;
			left: 35px;
			z-index: 4;
			display: none;
			width: 100px;
			color:#fff;
			padding: 5px;
			border: 2px solid #fff;
			border-radius: 5px;
			font-size: 12px;
		}
			.site-img{
				width: 100%;
			}
	
	/*** информация о сайте ***/
	
	.project-inf{
		width: 183px;
		margin: 0;
		overflow: hidden;
		line-height:1.3em;
		font-family: 'fira_sanslight';
		font-size: 15px;
		text-align: center;
		word-wrap:break-word;
	}
	.site-name{
		color:#3ba8c0;
		text-decoration: none;
		font-family: 'fira_sanslight_italic';
		font-size: 13px;
		word-wrap:break-word;
	}
	
	/*** пункт добавления ***/

.add-project-item{
	border: 1px dashed #3ba8c0;
	border-radius: 5px;
	vertical-align: top;
}
.add-project-link{
	display: block;
	width: 183px;
	height: 129px;
	text-align: center;
	text-decoration: none;
	background: url(../../img/add-img.png) no-repeat center 35% #edf8fc;
	font-family: 'fira_sanslight';
	font-size: 13px;
	position: relative;
}
	.add-project-link > span{
		position: absolute;
		top: 70px;
		left: 40px;
		color:#3ba8c0;
		display: block;
	}

/************ MODAL WINDOW ************/

.popup-modal-win{
	display: none;	
}
.popupActive{
	position:fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	display: block;	
	z-index:5;
}
/*.popup-win:target{
	display: block;
}*/
.overlay{
	background-color: rgba(0, 5, 15, .6);
	position:fixed;
	z-index:10;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
}
.modal-window{
	position:absolute;
	z-index:15;
	width: 360px;
	background: #eff3f7;
	border-radius: 5px;
	box-shadow: 0 5px 10px #000;
	overflow: hidden;
}
.add-form-title-block{
	background:#48cbe8;
	margin: 0 0 5px 0;
	border-bottom: 10px solid #67dffa;
}
	.add-form-title{
		font-family: 'fira_sansregular', sans-serif;
		font-size: 25px;
		font-weight: 400;
		margin: 0;
		padding: 5px 10px 0;
		color:#fff;
		float:left;
	}
	.close-modalwin{
		float:right;
		margin: 12px 10px 0 0;
		text-indent: -2000px;
		background:url(../../img/close.png) no-repeat left center;
		width: 26px;
		height: 26px;
	}
.field-wrapper{
	margin: 0 auto;
	width: 320px;
}
.label-for-input{
	display: block;
	color: #9ba0ad;
}
.project-name-field, .project-img-field, .project-url-field, .project-description-field, .file-btn-text{
	border: 1px solid #48cbe8;
	width: 100%;
	text-indent: 15px;
	font-size:13px;
	color:#54ceea; 
	padding: 10px 0;
	margin-bottom: 10px;
	border-radius: 5px;
}
.project-description-field{
	height: 85px;
}
input::-webkit-input-placeholder{
	color:#54ceea;
	font-size:13px;
	font-family: 'fira_sanslight';
}
input:-moz-placeholder{
	color:#54ceea; 
	font-size:13px;
	font-family: 'fira_sanslight';
}
input:-ms-input-placeholder{
	color:#54ceea; 
	font-size:13px;
	font-family: 'fira_sanslight';
}
	input.login-field::-webkit-input-placeholder{
		font-size:17px;
		text-indent: 20px;
	}
	input.login-field:-moz-placeholder{
		font-size:17px;
		text-indent: 20px;
	}
	input.login-field:-ms-input-placeholder{
		font-size:17px;
		text-indent: 20px;
	}
	input.password-field::-webkit-input-placeholder{
		font-size:17px;
		text-indent: 20px;
	}
	input.password-field:-moz-placeholder{
		font-size:17px;
		text-indent: 20px;
	}
	input.password-field:-ms-input-placeholder{
		font-size:17px;
		text-indent: 20px;
	}
textarea::-webkit-input-placeholder{
	color:#54ceea;
	font-size:13px;
	font-family: 'fira_sanslight';
}
textarea:-moz-placeholder{
	color:#54ceea; 
	font-size:13px;
	font-family: 'fira_sanslight';
}
textarea:-ms-input-placeholder{
	color:#54ceea; 
	font-size:13px;
	font-family: 'fira_sanslight';
}
.add-project-btn{
	margin-bottom: 30px;
	margin-left: 90px;
	padding: 0;
	width: 148px;
	font-weight: 400;
	color:#fff;
	font-size:19px;
	font-family: 'fira_sansbook';
	border: none;
	border-radius: 5px;
	background-color: #48cbe8;
	box-shadow: 0 3px 0 #3ba8c0;
}

/****** стилизация input-file ******/

.file-btn-name{
	display: block;
}
.file-btn-text{
	display: block;
	background: url(../../img/upload-img.png) no-repeat right center #fff;
	color: #48cbe8;
	text-indent: 10px;
	padding: 7px 0;
	font-size: 13px;
	font-family: 'fira_sanslight';
}
.file-label{
	position: relative;
}
.project-img-field{
	position: absolute;
	top: 22px;
	left: 0;
	z-index: 15;
	opacity: 0;
	width: 100%;
}

/************ form alerts *************/


.error-box{
	background: #f2cccd;
	color: #f97e76;
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	display: none;
}
.close-error-alert{
	text-decoration: none;
	float:right;
	color: #f97e76;
}
.success-alert{
	height: 110px;
	width: 370px;
	position: absolute;
	top: 230px;
	left: 490px;
	background: #eff3f7;
	border-radius: 5px;
	box-shadow: 0 0 15px #999;
	display: none;
}
.success-alert-box{
	background: #b8e1ce;
	color:#49bb7b;
	width: 315px;
	padding: 5px 10px;
	margin: 20px auto;
	border-radius: 5px;
}
.success-text, .error-text{
	font-size: 25px;	
}
.success-inf, .error-inf{
	font-size: 15px;
}
.close-alert{
	color:#49bb7b;
	text-decoration: none;
	float:right;
}


/************ tooltips style *************/
.error-field{
	border: 1px solid #f97e76;
	background: #f97e76;
	position: relative;
}
div#qTip{
	background: #f97e76;
	color:#fff;
	padding: 2px;
	display: : none;
	position: absolute;
	left: -50px;
	z-index:15;
}